:root {
  --background-general: #ffffff;
  --background-slogan: #2f303a;
  --background-slogan-gradient: rgba(47, 48, 58, 0.4);
  --background-comand: #f5f4fa;
  --background-label: rgba(47, 48, 58, 0.8);
  --color-logo: #000000;
  --color-general: #212121;
  --color-border-header: #ececec;
  --color-last: #757575;
  --color-link: #2196f3;
  --color-slogan: #ffffff;
  --color-button: #f5f4fa;
  --color-button-activ: #188ce8;
  --color-label: #ffffff;
  --color-icon-footer: rgba(255, 255, 255, 0.1);
  --color-border-index: #f5f4fa;
  --color-border-portfolio: #eeeeee;
  --color-border-klient: #afb1b8;
  --color-overlay-portfolio: rgba(33, 150, 243, 0.9);
  --color-address-finish: rgba(255, 255, 255, 0.6);
  --color-shadow-order: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --color-comand-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --color-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --color-border-form: rgba(33, 33, 33, 0.2);
  --color-form-placeholder: rgba(117, 117, 117, 0.5);
  --color-footer-placeholder: rgba(255, 255, 255, 0.6);
  --color-border-close: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-general);
  color: var(--color-general);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.dot {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  border-bottom: 1px solid var(--color-border-header);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-link);
}

@media screen and (min-width: 768px) {
  .logo__up {
    margin-right: 93px;
  }
}

.logo__up {
  padding: 0;
  color: var(--color-logo);
}

.logo__down {
  margin-right: -93px;
  color: var(--color-slogan);
}

.logo__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .nav, .contact {
    display: none;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.envelope {
  width: 16px;
  height: 12px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.nav__link {
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
  color: var(--color-general);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-link);
}

.nav__link--current {
  position: relative;
  color: var(--color-link);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-link);
}

.contact {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__mailto {
  padding: 21px 0 5px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
  color: var(--color-general);
}

.contact__mailto:hover,
.contact__mailto:focus {
  color: var(--color-link);
}

.contact__tel {
  padding: 5px 0 21px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration);
  color: var(--color-general);
}

.contact__tel:hover,
.contact__tel:focus {
  color: var(--color-link);
}

.contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 8px;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
}

.nav-button__icon {
  width: 24px;
  height: 16px;
  fill: currentColor;
}

.nav-button__posicion {
  margin-left: auto;
  padding: 10px 0;
}

@media screen and (min-width: 450px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.unsection {
  padding-top: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 450px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.specifical__line {
  text-align: center;
}

.specifical__icon {
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--background-comand);
  border-radius: 4px;
}

.specifical__titel {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-general);
}

.specifical__text {
  text-align: start;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-last);
}

.titels {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-general);
}

@media screen and (max-width: 767px) {
  .work__section {
    display: none;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 -30px;
  padding: 0;
}

.work__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.label-thumb {
  position: relative;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: var(--background-label);
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.label__text {
  color: var(--color-label);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.comand {
  padding: 0;
}

.background-comand {
  background-color: var(--background-comand);
}

.comand .foto {
  -webkit-box-shadow: var(--color-comand-shadow);
          box-shadow: var(--color-comand-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-general);
}

.comand .fotoline {
  padding: 0 15px;
  margin-bottom: 30px;
}

.comand .name {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-general);
}

.comand .proff {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-last);
}

.social-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 0 0 30px 0;
  padding: 0;
}

.a-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0 auto;
  color: var(--color-border-klient);
  -webkit-transition: background-color var(--transition-timing) var(--transition-duration), color var(--transition-timing) var(--transition-duration);
  transition: background-color var(--transition-timing) var(--transition-duration), color var(--transition-timing) var(--transition-duration);
}

.icon-card {
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-card:hover,
.a-card:focus {
  background-color: var(--color-button-activ);
  color: var(--color-slogan);
}

.klient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.klient__icon {
  width: calc((100% - 60px) / 2);
  height: 92px;
  border: 1px solid var(--color-border-klient);
  border-radius: 4px;
  color: var(--color-border-klient);
  -webkit-transition: color var(--transition-timing) var(--transition-duration), border var(--transition-timing) var(--transition-duration);
  transition: color var(--transition-timing) var(--transition-duration), border var(--transition-timing) var(--transition-duration);
}

.icon-klient {
  fill: currentColor;
}

.klient__icon:hover,
.klient__icon:focus {
  color: var(--color-link);
  border: 1px solid var(--color-link);
}/*# sourceMappingURL=main.css.map */